<a href="{{ path('list_books') }}">Back to List</a>
<center>
    <h1><b>Book</b></h1>
    Title of Book: {{ title }}<br>
    Publication date: {{ date | date("Y-m-d") }}<br>
    Author: {{ author }}
</center>